{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <nav role="navigation" aria-label="Menu secondaire">
        <ul>
            <li>
                <a href="{{ path('category_index') }}">Gestion des catégories</a>
            </li>
        </ul>
    </nav>
{% endblock %}